*{
  box-sizing: border-box;
  -moz-box-sizing:border-box ;
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif; 
}

.grid-container {
  display: grid;    
  grid-template-columns: 1fr 1fr;    
  background: seashell;  
}

.grid_item_1 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  background: seashell;
}

.grid_item_2 {   
  grid-column-start: 1;
  grid-column-end: 2;   
  text-align: center;
  background: seashell;    
}

.canvas {
    position: relative;
    background: seashell;   
    padding-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr; 
    row-gap: 10px;   
}

.botuni {
    position: relative;  
}

.brisi {
    position: relative;  
}

.canvas-container {
    width: 50%;
    background: white;  
    margin-left: 80px;
    margin-top: 60px;
    border-radius: 15px;
    border: none;
}

.locked {
    pointer-events: none;
}

.matrix {
    position: top;
    font-size: 18px;
}

.result {
    position: top;
    font-size: 20px;
}    

.header {
    padding: 40px;
    text-align: center;
    background: seashell;
    color: rgb(0, 0, 0);
    font-size: 23px;
}

.myButton {
  background-color: lavender;
  color: #fff; 
  transition: background-color 0.3s ease; 
  border: none;
  border-radius: 7px;
}

.myButton:hover {
  background-color: coral; 
}
  
.delButton {
  background-color: lavender;
  color: #fff; 
  transition: background-color 0.3s ease; 
  border: none;
  border-radius: 7px;
}

.delButton:hover {
    background-color: coral;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  outline: none;
  box-shadow: 0 1px 0 0 #ccc;
  transition: border-bottom 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Maven Pro', sans-serif;
  transform: scale(1.5);
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

input:hover {
    background-color: lavender;
}
